.App {
  width: 1000px;
  height: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #e0f7fa;
  position: relative;
  user-select: none;
  border-radius: 16px;
  overflow: hidden;
  z-index: 0;
}

.to-front {
  z-index: 1;
}

.start-title span {
  margin-top: 175px;
  font-family: "Balatro";
  color: #337eff;
  font-size: 80px;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
}

.start-title span {
  display: inline-block;
  animation: wave 1.5s infinite ease-in-out;
}

.start-button {
  background-color: #337eff;
  margin-top: 30px;
  border-radius: 16px;
  width: 100px;
  padding: 15px;
  color: white;
  font-size: 24px;
  font-family: "Balatro";
  border: none;
  cursor: pointer;
}

.start-button:hover {
  background-color: #2767d6;
}

.start-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-menu p {
  position: absolute;
  bottom: 0px;
  font-family: "Balatro";
  font-weight: lighter;
  color: #b3b3b3;
}

.specialty-menu {
  text-align: center;
  font-family: "Balatro";
  font-weight: lighter;
}

.specialty-menu h2 {
  margin-top: 50px;
  font-size: 30px;
  font-weight: lighter;
  color: #696969;
  text-shadow: 2px 2px 0px rgba(82, 82, 82, 0.2);
}

.specialty-buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 70px;
}

.specialty-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: white;
  padding: 30px;
  width: 200px;
  height: 300px;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  outline: none;
}

.specialty-button img {
  margin-top: 20px;
}

.cardiology-button {
  animation: wave 1.5s infinite ease-in-out;
  animation-delay: 0s;
}

.respiratory-button {
  scale: 1.05;
  animation: wave 1.5s infinite ease-in-out;
  animation-delay: -0.3s;
  position: relative;
}

.specialty-button span {
  margin-top: auto;
  font-size: 24px;
  font-family: "Balatro";
  color: #d85555;
  text-shadow: 2px 2px 0px rgba(82, 82, 82, 0.2);
}

.specialty-button:hover span {
  scale: 1.05;
}

.investigate-container {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 0px;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slide-down {
  animation: slideDown 1s ease-in forwards;
}

.slide-down-preq {
  animation: slideDownPreq 0.5s ease-in forwards;
}

.slide-down-bit {
  animation: slideDownBit 0.5s ease-out forwards;
}

.slide-left-out {
  animation: slideLeftOut 1s ease-in forwards;
}

.slide-left-in {
  animation: slideLeftIn 1s ease-out forwards;
}

.slide-down-stem {
  animation: slideDownStem 0.7s ease-out forwards;
  pointer-events: auto;
}

@keyframes slideDownStem {
  0% {
    transform: translateY(-150%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(120%);
    opacity: 1;
  }
}

@keyframes slideDownBit {
  0% {
    transform: translateY(-20%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDownPreq {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(150%);
    opacity: 1;
  }
}

@keyframes slideLeftIn {
  0% {
    transform: translateX(120%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideLeftOut {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-120%);
    opacity: 1;
  }
}

.patient-stem-container {
  position: relative;
  margin: 0 auto;
  width: 800px;
  min-height: 100px;
  text-align: center;
  background-color: white;
  border-radius: 16px;
  margin-bottom: 30px;
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.patient-stem {
  font-size: 17px;
  overflow: hidden;
  color: #333333;
  font-family: "Balatro";
  font-weight: lighter;
  display: inline-block;
  white-space: normal;
  line-height: 2;
  visibility: hidden;
  animation: typing 1s steps(50, end) forwards;
  animation-delay: 0.3s;
}

.patient-wrapper {
  position: relative;
  width: 100%;
  margin-top: 150px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.patient-image {
  transform: scale(0.8); /* Scales the image similar to the Phaser scaling */
  filter: brightness(110%);
  user-select: none;
  width: fit-content;
  margin-right: -10px;
}

.patient-image:hover {
  scale: 1.02;
}

.back-button {
  position: absolute;
  top: 25px;
  left: 25px;
  cursor: pointer;
  background-color: #86d9ff;
  font-family: "Balatro";
  font-size: 25px;
  padding: 2px 15px;
  color: white;
  border: none;
  border-radius: 5px;
  z-index: 1;
}

.back-button:hover {
  background-color: #6ed1ff;
}

.obs-container {
  width: 100px;
  height: fit-content; /* Accounts for top and bottom padding */
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 5px;
  text-align: left;
  overflow-y: auto;
  font-family: "Balatro";
  color: #474747;
  background-color: #ffa6002a;
  border-radius: 16px;
}

.hidden {
  display: none;
}

.investigation-records-container {
  width: fit-content;
  height: fit-content; /* Accounts for top and bottom padding */
  font-family: "Balatro";
  color: #333333;
}

.investigation-records-container img {
  margin-top: -10px; 
  transform: scale(0.7);
}

.investigation-records-container h3 {
  margin-top: 0px;
  font-weight: lighter;
  font-size: 18px;
  text-align: center;
  color: rgb(92, 92, 92);
}

.critical-button {
  display: block;
  background-color: rgb(226, 0, 0);
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 5px;
  padding: 8px;
  width: fit-content;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.critical-button:hover {
  transform: scale(1.03);
}

.ancillary-button {
  display: block;
  background-color: rgb(226, 166, 0);
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 5px;
  padding: 8px;
  width: fit-content;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.ancillary-button:hover {
  transform: scale(1.03);
}

.highlight-animation {
  animation: pulse 1s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulse2 {
  0% {
    transform: scale(0.75);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(0.75);
  }
}

@keyframes pulse-note {
  0% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(0.7);
  }
}


@keyframes pulse3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

.menu-container {
  position: relative;
  height: fit-content;
  display: flex;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.menu-button {
  width: 230px;
  height: 100px;
  background-color: #4f90ff;
  color: #ffffff;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  font-family: "Balatro";
  font-weight: lighter;
  text-shadow: 2px 2px 0px #666666;
}

.menu-button:hover {
  background-color: #337eff;
}

.submenu-container {
  position: absolute;
  bottom: 120px;
  left: 0px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.submenu-button {
  padding: 0 20px;
  height: 50px;
  background-color: #4f90ff;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  font-family: "Balatro";
  font-weight: lighter;
  text-shadow: 2px 2px 0px #666666;
}

.submenu-button:hover {
  background-color: #337eff;
}

/* 

.submenu-button.light-blue {
  background-color: #5691ff; 
}

.submenu-button.light-blue:hover {
  background-color: #377dff; 
}

.submenu-button.purple {
  background-color: #8d33a7; 
}

.submenu-button.purple:hover {
  background-color: #7e2497; 
}

.submenu-button.gold {
  background-color: #d89b00; 
}

.submenu-button.gold:hover {
  background-color: #be8900; 
}

.submenu-button.red {
  background-color: #c20600; 
}

.submenu-button.red:hover {
  background-color: #a00500; 
} 
  
*/

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2); /* Semi-transparent background */
  z-index: 1000;
}

.modal-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  width: fit-content;
  background: rgb(255, 255, 255);
  word-wrap: break-word;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center;
  font-family: "Balatro";
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.1);
}

.ecg-modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  max-width: 980px;
  width: fit-content;
  background: rgb(255, 255, 255);
  word-wrap: break-word;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center;
  font-family: "Balatro";
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.1);
}

.ecg-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.ecg-grid {
  position: relative; /* Overlapping element */
  z-index: 2; /* Layer behind trace */
}

.ecg-trace {
  position: absolute; /* Overlapping element */
  z-index: 3; /* Layer above grid */
  width: 100%;
  animation: reveal-left-to-right 1.5s linear;
  opacity: 0.7;
}

@keyframes reveal-left-to-right {
  from {
    clip-path: inset(0 100% 0 0); /* Start fully hidden */
  }
  to {
    clip-path: inset(0 0 0 0); /* Fully revealed */
  }
}

.modal-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  min-width: 200px;
  width: auto;
  transform: translate(-50%, -50%);
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  font-family: "Balatro";
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.1);
}

.toggle-button {
  cursor: pointer;
}

.toggle-button:hover {
  transform: scale(0.8);
}

.toggle-button.pulse-note {
  animation: pulse-note 1s ease-in-out;
}

.modal-box-content {
  margin-top: -20px;
  margin-bottom: 10px;
  line-height: 1.5;
}

.modal-content h3 {
  font-weight: lighter;
  margin-top: 5px;
  font-size: 24px;
}

.modal-content p {
  overflow: hidden; /* Ensures the content is hidden until the animation reveals it */
  text-align: left;
  display: inline-block;
  white-space: pre-wrap;
  line-height: 1.8;
  margin-left: 4px;
  margin-top: 0px;
  margin-bottom: 30px; /* Adds spacing below the text */
  padding-bottom: 5px;
  animation: typing 0.4s steps(40, end); /* Typing effect */
}

.modal-content p span {
  color: #505050;
  display: inline-block;
  text-align: left;
  line-height: 2.2;
  white-space: pre-wrap;
  animation: typing 0.5s steps(40, end);
  font-size: 15px;
  margin-bottom: 0px;
}

.citation {
  font-size: 11px; /* Small text */
  color: grey; /* Light grey color */
  position: relative;
  margin-top: -25px;
  margin-bottom: -20px;
  text-align: left; /* Align it to the right */
}

.citation a {
  color: grey;
  text-decoration: none;
  cursor: pointer;
  line-height: 2;
}

.citation a:hover {
  text-decoration: underline;
  color: grey;
}

.citation .non-url {
  color: grey;
  font-size: 11px;
  text-decoration: none; /* No underline for non-links */
  cursor: default; /* No pointer cursor for non-links */
}

.modal-content table {
  margin-bottom: 40px;
  animation: typing 0.4s steps(40, end);
  overflow: hidden;
  display: block;
}

.modal-content table tr {
  line-height: 2;
}

.modal-content table td {
  text-align: left;
  padding: 0px 15px;
}

.modal-content table td:nth-child(3),
.modal-content table td:nth-child(4) {
  color: gray;
}

@keyframes typing {
  from {
    clip-path: inset(0 100% 0 0); /* Hide all text by clipping it */
    visibility: visible; /* Make text visible when animation starts */
  }
  to {
    clip-path: inset(0 0 0 0);
    visibility: visible;
  }
}

.ok-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 70px;
  padding: 10px 20px;
  font-size: 1em;
  font-family: "Balatro";
  cursor: pointer;
  background-color: #4f90ff;
  color: white;
  border: none;
  border-radius: 5px;
  text-shadow: 2px 2px 0px #666666;
}

.ok-button:hover {
  background-color: #337eff;
}

.close-button {
  width: 100px;
  position: relative;
  margin-left: auto;
  margin-right: -10px;
  margin-bottom: -10px;
  margin-top: -10px;
  padding: 10px 0px;
  font-size: 1em;
  font-family: "Balatro";
  cursor: pointer;
  background-color: #4f90ff;
  color: white;
  border: none;
  border-radius: 5px;
  text-shadow: 2px 2px 0px #666666;
}

.close-button:hover {
  background-color: #4884ec
}

.proceed-button {
  position: absolute;
  cursor: pointer;
  animation: pulse2 1s forwards infinite;
  right: 0px;
  transform: scale(0.75);
}

.proceed-button:hover {
  filter: brightness(90%); 
}


.diagnosis-container {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 0px;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.investigation-report-container {
  height: auto;
  padding: 5px;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 95px;
  border-radius: 16px;
  font-family: "Balatro";
  color: gray;
}

.investigation-report-container p {
  line-height: 1;
  color: #6b6b6b;
}

.investigation-report-container:has(p:nth-child(5)) {
  font-size: 13px; /* Adjust font size when there are 6 or more items */
}

.diagnosis-question-container {
  position: relative;
  width: 790px;
  height: 250px;
  background-color: white;
  border-radius: 16px;
  padding: 5px;
  padding-right: 20px;
  font-family: "Balatro";
  text-align: left;
  margin-top: -55px;
}

.diagnosis-question-container h3 {
  font-weight: lighter;
  font-size: 17px;
  margin-left: 217px;
  padding-left: 2px;
  overflow: hidden;
  line-height: 1.7;
  display: inline-block;
  color: #c80000;
  visibility: hidden;
  animation: typing var(--typing-duration, 1s) steps(var(--typing-steps), end)
      var(--typing-delay, 0.5s) forwards,
    show 0s var(--typing-delay, 0.5s) forwards;
}

@keyframes show {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.continue-button {
  position: absolute;
  margin-left: 210px;
  margin-top: 22px;
  padding: 8px 16px;
  font-size: 16px;
  font-family: "Balatro";
  font-weight: lighter;
  border: none;
  border-radius: 5px;
  background-color: rgba(214, 0, 0, 0.549);
  color: #ffffff;
  cursor: pointer;
  opacity: 0;
  animation: appear 0s linear 0.3s forwards;
}

@keyframes appear {
  to {
    visibility: visible;
    opacity: 1;
  }
}

.view-explanation-button {
  position: absolute;
  margin-left: 320px;
  margin-top: 22px;
  padding: 8px 16px;
  font-size: 16px;
  font-family: "Balatro";
  font-weight: lighter;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: #818181;
  cursor: pointer;
  text-decoration: underline;
  opacity: 0;
  animation: appear 0s linear 0.3s forwards;
}

.view-explanation-button:hover {
  scale: 1.05;
}

.continue-button:hover {
  background-color: rgba(172, 0, 0, 0.549);
}

.diagnosis-question-container p {
  position: absolute;
  margin-left: 30px;
  bottom: 19px;
  color: rgba(214, 0, 0, 0.549);
}

.doctor-image {
  scale: 0.7;
  position: absolute;
  left: -50px;
  bottom: 20px;
  filter: brightness(110%);
}

.doctor-image.vibrating {
  animation: vibrating 0.1s linear infinite; 
  animation-iteration-count: var(--vibrating-iterations, 10); 
  animation-delay: var(--typing-delay, 0s);
}

.vibrating {
  animation: vibrating 0.1s linear 2;
}

@keyframes vibrating {
  0%,
  100% {
    transform: translateX(0); /* No movement */
  }
  25% {
    transform: translateX(-2px); /* Move slightly left */
  }
  75% {
    transform: translateX(2px); /* Move slightly right */
  }
}

.answer-grid {
  display: flex;
  position: absolute;
  flex-direction: column;
  gap: 5px;
  bottom: 20px;
}

.answer-button {
  height: auto;
  color: #555555;
  padding: 10px;
  border: none;
  background-color: white;
  cursor: pointer;
  font-family: "Balatro";
  font-size: 15px;
  text-align: left;
  margin-left: 210px;
  margin-right: 20px;
  border-radius: 10px;
  width: 550px;
}

.answer-button:hover {
  background-color: rgb(234, 234, 234);
}

.slide-up {
  animation: slideUp 1s ease-out forwards;
}

.slide-up-high {
  animation: slideUpHigh 1s ease-out forwards;
}

.slide-up-stem {
  animation: slideUpStem 1s ease-out forwards;
}

.slide-up-menu {
  opacity: 0;
  animation: slideUpMenu 1s ease-out forwards;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%); /* Start below the screen */
    opacity: 0; /* Invisible at the start */
  }
  1% {
    transform: translateY(100%); /* Start below the screen */
    opacity: 1; /* Invisible at the start */
  }
  100% {
    transform: translateY(0); /* End in normal position */
    opacity: 1; /* Fully visible */
  }
}

@keyframes slideUpMenu {
  0% {
    transform: translateY(100%); /* Start below the screen */
    opacity: 0; /* Invisible at the start */
  }
  1% {
    transform: translateY(100%); /* Start below the screen */
    opacity: 1; /* Invisible at the start */
  }
  100% {
    transform: translateY(-100%); /* End in normal position */
    opacity: 1; /* Fully visible */
  }
}

@keyframes slideUpHigh {
  0% {
    transform: translateY(100%); /* Start below the screen */
    opacity: 1; /* Invisible at the start */
  }
  100% {
    transform: translateY(-20%); /* End in normal position */
    opacity: 1; /* Fully visible */
  }
}

@keyframes slideUpStem {
  0% {
    transform: translateY(0); /* Start below the screen */
    opacity: 1; /* Invisible at the start */
  }
  100% {
    transform: translateY(-150%); /* End in normal position */
    opacity: 1; /* Fully visible */
  }
}

.correct-text {
  color: rgb(0, 178, 0);
}

.correct-text span {
  display: inline-block;
  font-size: 30px;
  animation: wave 1.5s infinite ease-in-out;
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0); /* Default position */
  }
  50% {
    transform: translateY(-5px); /* Move up */
  }
}

.scoring-stage {
  margin-top: -90px;
}

.scoring-stage h3 {
  text-align: left;
  padding-left: 250px;
  font-family: "Balatro";
  font-weight: lighter;
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 0px;
  color: #26cd00;
  visibility: hidden;
  animation: show 0s linear forwards;
}

.scoring-table1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 250px;
  padding-right: 250px;
  padding-bottom: 30px;
  font-family: "Balatro";
  font-weight: lighter;
  color: #2ae400;
  visibility: hidden;
  animation: show 0s linear forwards;
}

.scoring-stage h4 {
  text-align: left;
  padding-left: 250px;
  font-family: "Balatro";
  font-weight: lighter;
  margin-bottom: 30px;
  margin-top: 0px;
  color: #26cd00;
  font-size: 20px;
  visibility: hidden;
  animation: show 0s linear forwards;
  animation-delay: 0.3s;
}

.scoring-table2 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 250px;
  padding-right: 250px;
  padding-bottom: 30px;
  font-family: "Balatro";
  font-weight: lighter;
  color: #2ae400;
  visibility: hidden;
  animation: show 0s linear forwards;
  animation-delay: 0.3s;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
}

.category {
  text-align: left;
  flex: 1; /* Ensures it takes the available left space */
}

.points {
  text-align: right;
  flex: 0; /* Ensures numbers align consistently on the right */
}

.row-total1 {
  display: flex;
  padding-top: 20px;
  align-items: center;
  font-size: 20px;
  visibility: hidden;
  animation: show 0s linear forwards;
  animation-delay: 0.6s;
  color: #26cd00;
}

.row-total2 {
  display: flex;
  padding-top: 20px;
  align-items: center;
  font-size: 22px;
  visibility: hidden;
  color: #26cd00;
  animation: show 0s linear forwards 0.9s, pulse3 1s ease 1 1.2s;
}

.next-case-button {
  padding: 10px;
  background-color: #26cd00;
  color: white;
  font-family: "Balatro";
  border: none;
  border-radius: 10px;
  font-size: 20px;
  margin-top: 40px;
  visibility: hidden;
  animation: show 0s linear forwards 1.2s, pulse2 1s infinite 1.2s;
}

.next-case-button:hover {
  background-color: #1ea300;
}
